/.idea
.idea
/next-app/node_modules
/next-app/.next/
/next-app/.DS_Store
/next-app/.pnp
/next-app/coverage
/next-app/out/
/next-app/build
/next-app/*.pem
/next-app/npm-debug.log*
/next-app/yarn-debug.log*
/next-app/yarn-error.log*
/next-app/.env.local
/next-app/.env.development.local
/next-app/.env.test.local
/next-app/.env.production.local
/next-app/.vercel
/.vscode